<ion-view view-title="Emergency Hotline">
    <ion-content>

  <ion-item class="item-remove-animate row " style="width:100%;padding:10px;" type="item-text-wrap">
    <div class="col-sm-4"><button class="button-balanced ion-android-call" style="height:100%;font-size:50px;margin-right:10px;"></button></div>
    <div class="col-sm-8" >
    <p style="font-size:12 px;"><b>Department of Social Welfare and <br>Development (DSWD)</b></p>
    <p>Text hotline: 0918-912-2813</p>
    <p>Trunkline: (02) 931-81-01</p>
    <p>Disaster Response Unit: 856-3665, 852-8081
      </div>
</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate " style="width:100%;" type="item-text-wrap">
    
    <h2 >RED CROSS</h2>
    <p>Hotline: 143, (02) 527-0000, (02) 527-8385 to 95</p>
    <p>Disaster Management Office: 134 (Staff), 132 (Manager), 133 (Radio Room)</p>
    <p>Telefax: 527-0864</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Philippine National Police (PNP) Hotline Patrol</h2>
    <p>117 or send TXT PNP to 2920</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Bureau of Fire Protection, NCR </h2>
    <p>(632) 729-5166; (632) 410-6254; (632) 407-1230</p>

    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>


      </ion-content>
        <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
            <!-- <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
                <div class="content">
                    <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                    <h3><a class="light">Daenerys Targaryen</a></h3>
                    <h4>dragon_mommy</h4>
                </div>
            </div> -->
            <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
                <!-- <a ui-sref="app.activity" class="tab-item">
                    <i class="icon ion-android-locate" ></i> Locate
                </a> -->
                <a style="color:white;" ui-sref="app.locate" class="tab-item">
                    <i class="icon ion-android-locate" ></i> Locate
                </a>
                <a style="color:white;" ui-sref="app.feed" class="tab-item">
                    <i class="icon ion-earth"></i> Feed
                </a>
                <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
                  <i class="icon ion-android-hand"></i> Self-Defense
                </a>
            </div>
    <!-- </ion-content> -->
  </ion-footer-bar>
</ion-view>
