<ion-view view-title="Emergency Contacts">
    <ion-content>

    </ion-content>
    <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
        <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
            <!-- <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-android-locate" ></i> Locate
            </a> -->
            <a style="color:white;" ui-sref="app.locate" class="tab-item">
                <i class="icon ion-android-locate" ></i> Locate
            </a>
            <a style="color:white;" ui-sref="app.feed" class="tab-item">
                <i class="icon ion-earth"></i> Feed
            </a>
            <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
                <i class="icon ion-android-hand"></i> Self-Defense
            </a>
        </div>
    </ion-footer-bar>
<ion-content>

  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Sample Contact 1</h2>
    <p>Police of Quezon City</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Sample Contact 2</h2>
    <p>Hospital of Quezon City</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Sample Contact 3</h2>
    <p>Hospital of Quezon City</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Sample Contact 4</h2>
    <p>Hospital of Quezon City</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>
  <ion-item class="item-remove-animate" style="width:100%;" type="item-text-wrap">
    <h2 >Sample Contact 5</h2>
    <p>Hospital of Quezon City</p>
    <!-- <button  style=" height:70%;" class="button button-fab button-fab-bottom-right button-energized"><i class="icon ion-android-call"></i></button> -->
  </ion-item>

      </ion-content>
        <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
            <!-- <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
                <div class="content">
                    <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                    <h3><a class="light">Daenerys Targaryen</a></h3>
                    <h4>dragon_mommy</h4>
                </div>
            </div> -->
            <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
                <!-- <a ui-sref="app.activity" class="tab-item">
                    <i class="icon ion-android-locate" ></i> Locate
                </a> -->
                <a style="color:white;" ui-sref="app.locate" class="tab-item">
                    <i class="icon ion-android-locate" ></i> Locate
                </a>
                <a style="color:white;" ui-sref="app.feed" class="tab-item">
                    <i class="icon ion-earth"></i> Feed
                </a>
                <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
                  <i class="icon ion-android-hand"></i> Self-Defense
                </a>
            </div>
    <!-- </ion-content> -->
  </ion-footer-bar>
</ion-view>
