<ion-view view-title=""  style="background: url(img/Welcome-Map.png) center; background-size: cover;padding-top:10px;">
  <ion-content>
    <div style="margin-top:340px;">
      <h2 style="color:white;"><center>
        Heat Map
      </center></h2>
    </div>
    <ion-footer-bar class="bar-assertive" style="background-color:#0000FF;margin-bottom:340px;">
      <button  ui-sref="app.feature5" style="background-color:#0000FF;color:white;margin-left:auto;border:0px;border-radius:0px;height:100%;width:20%">
        <b>NEXT</b>
      </button>
    </ion-footer-bar>
  </ion-content>
</ion-view>
