<ion-view view-title="Feed"  style="background: url(img/bgAll.png) center; background-size: cover;padding-top:10px;">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div style="width:100%;margin-right:5px;">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Where's Elsa?</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <!-- <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a> -->
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>

                    </a>
                </div>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
      <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
          <!-- <a ui-sref="app.activity" class="tab-item">
              <i class="icon ion-android-locate" ></i> Locate
          </a> -->
          <a style="color:white;" ui-sref="app.locate" class="tab-item">
              <i class="icon ion-android-locate" ></i> Locate
          </a>
          <a style="color:white;" ui-sref="app.feed" class="tab-item">
              <i class="icon ion-earth"></i> Feed
          </a>
          <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
            <i class="icon ion-android-hand"></i> Self-Defense
          </a>
      </div>
    </ion-footer-bar>
</ion-view>
