<ion-view view-title="Locate">
    <ion-nav-bar class="bar-assertive-900">
      <ion-header-bar>
        <ion-nav-buttons side="left">
          <button ng-click="locate();" class="buttons button-icon icon ion-pinpoint"></button>
        </ion-nav-buttons>
        <h1 class="title">Map</h1>
        <ion-nav-buttons side="right" class="buttons buttons-right header-item">
          <span class="right-buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
          </span>
        </ion-nav-buttons>
      </ion-header-bar>
    </ion-nav-bar>
    <ion-content>
        <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>
    </ion-content>
    <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
      <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
          <!-- <a ui-sref="app.activity" class="tab-item">
              <i class="icon ion-android-locate" ></i> Locate
          </a> -->
          <a style="color:white;" ui-sref="app.locate" class="tab-item">
              <i class="icon ion-android-locate" ></i> Locate
          </a>
          <a style="color:white;" ui-sref="app.feed" class="tab-item">
              <i class="icon ion-earth"></i> Feed
          </a>
          <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
            <i class="icon ion-android-hand"></i> Self-Defense
          </a>
      </div>
    </ion-footer-bar>
</ion-view>
