<ion-view view-title="Self-Defense" style="background: url(img/bgAll.png) center; background-size: cover;padding-top:10px;">
    <ion-content ng-class="{expanded:isExpanded}" >
        <!-- <div class="content has-header"> -->
            <div class="list animate-fade-slide-in-right">
                <!-- <a href="#/app/profile" class="item item-avatar item-icon-right"> -->
                  <ion-item>
                  <div class="video-container" >
                      <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315" style="width:100%"></iframe>
                  </div>
                    <h2>Self-Defense 1</h2>
                    <blockquote style="background-color:#E5E7E9;height:100%">Da illest illegitimate</blockquote>
                  </ion-item>
                <!-- </a> -->
                <ion-item>
                <div class="video-container" >
                    <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315" style="width:100%"></iframe>
                </div>
                  <h2>Self-Defense 2</h2>
                  <blockquote style="background-color:#E5E7E9">Da illest illegitimate two</blockquote>
                </ion-item>
                <ion-item>
                <div class="video-container" >
                    <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315" style="width:100%"></iframe>
                </div>
                  <h2>Self-Defense 3</h2>
                  <blockquote style="background-color:#E5E7E9">Da illest illegitimate</blockquote>
                </ion-item>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
        <!-- <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div> -->
        <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
            <!-- <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-android-locate" ></i> Locate
            </a> -->
            <a style="color:white;" ui-sref="app.locate" class="tab-item">
                <i class="icon ion-android-locate" ></i> Locate
            </a>
            <a style="color:white;" ui-sref="app.feed" class="tab-item">
                <i class="icon ion-earth"></i> Feed
            </a>
            <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
              <i class="icon ion-android-hand"></i> Self-Defense
            </a>
        </div>
<!-- </ion-content> -->
</ion-footer-bar>
</ion-view>
