<ion-view view-title="Menu" >
  <ion-nav-bar class="bar-positive">

    </ion-nav-bar>
  <ion-content ng-Controller="DashCtrl">
      <ion-item class="item-remove-animate" type="item-text-wrap" href="#/tab/menu/login">
        Login
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap" href="#/tab/menu/signup">
        Sign Up
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap" href="#/tab/menu/others">
        Other
      </ion-item>

  </ion-content>
</ion-view>
