<ion-view view-title="Sign Up">
  <ion-item>
<div class="panel-body" style="margin-top:100px;">
  <div class="form-group">
    <label class="item item-input" style="margin-bottom:5px;">
  <span class="input-label">Username</span>
  <input type="text">
</label>
    <label class="item item-input" style="margin-bottom:5px;">
  <span class="input-label">Email</span>
  <input type="email">
</label>
<label class="item item-input" style="margin-bottom:10px;">
  <span class="input-label">Password</span>
  <input type="password">
</label>
    <!-- <form on-valid-submit="/"> -->
    <!-- <input placeholder="E-mail" id="username" type="email" ng-model="username" class="form-control" required>
      <div class="form-group">
        <input placeholder="Password" id="password" type="text" ng-model="password" class="form-control" required>
      </div>
      <p ng-show="loginInvalid" id="invalid">The email or password you’ve entered doesn’t match any account. </p> -->
    <!-- <button ng-click="login()" class="btn btn-lg btn-success btn-block"> Login </button> -->
        <!-- <input type="submit" ng-click="login()" class="btn btn-lg btn-success btn-block" value="Login" /> -->
        <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="login()">Sign Up</button>
    <!-- </form> -->
  </div>
</div>
</ion-item>

</ion-view>
