<ion-view style="background: url(img/bgAll.png) center; background-size: cover;padding-top:10px;" view-title="Tips">
<ion-content >
      <!-- <ion-item> -->
      <div style="padding:10px;">
        <ion-item class="row" style="background-color:#D6EAF8">
          <div class="col-sm-6" style="width:100%;">
            <ion-item style="height:100%;background-color:white">Insert image here</ion-item>
          </div>
          <div class="col-sm-6" style="width:70%;">
            <ion-item style="height:100%;background-color:white">wergerg<br>eroierogeroig<br>eroigeroigneorig<br>eorigeorigeorig<br>rugeirug</ion-item>
          </div>
        </ion-item>
        <br>

        <ion-item class="row"  style="background-color:#D6EAF8">
          <div class="col-sm-6" style="width:100%;">
            <ion-item style="height:100%;background-color:white">Insert image here</ion-item>
          </div>
          <div class="col-sm-6" style="width:70%;">
            <ion-item style="height:100%;background-color:white">wergerg<br>eroierogeroig<br>eroigeroigneorig<br>eorigeorigeorig<br>rugeirug</ion-item>
          </div>
        </ion-item>
      </div>
      <!-- </ion-item> -->
      </ion-content>
        <ion-footer-bar ng-class="{expanded:$scope.isExpanded}">
            <!-- <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
                <div class="content">
                    <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                    <h3><a class="light">Daenerys Targaryen</a></h3>
                    <h4>dragon_mommy</h4>
                </div>
            </div> -->
            <div style="background-color:#0000FF;" class="tabs tabs-icon-top static">
                <!-- <a ui-sref="app.activity" class="tab-item">
                    <i class="icon ion-android-locate" ></i> Locate
                </a> -->
                <a style="color:white;" ui-sref="app.locate" class="tab-item">
                    <i class="icon ion-android-locate" ></i> Locate
                </a>
                <a style="color:white;" ui-sref="app.feed" class="tab-item">
                    <i class="icon ion-earth"></i> Feed
                </a>
                <a style="color:white;" ui-sref="app.Self-Defense" class="tab-item">
                  <i class="icon ion-android-hand"></i> Self-Defense
                </a>
            </div>
    <!-- </ion-content> -->
  </ion-footer-bar>
</ion-view>
