<ion-view view-title=""  style="background: url(img/bgAll.png) center; background-size: cover;padding-top:10px;">
  <ion-content >
    <ion-item style="margin-top:220px"><h1><center>WELCOME!</center></h1></ion-item>
    <br><br>
    <ion-footer-bar class="bar-assertive" style="background-color:#0000FF;margin-bottom:220px">
      <button  ui-sref="app.feature1" style="background-color:#0000FF;color:white;margin-left:auto;border:0px;border-radius:0px;height:100%;width:20%">
        <b>NEXT</b>
      </button>
    </ion-footer-bar>
  </ion-content>
</ion-view>
