<ion-view view-title=""  style="background: url(img/bgAll.png) center; background-size: cover;padding-top:10px;">
  <ion-content >
    <ion-item style="margin-top:200px"><h1><center>Welcome to<br> Speakout!</center></h1></ion-item>
    <div style="color:white;font-size:20px;padding-top:150px;padding-right:10px;"><em style="float:right">Here are some of our features that</em> <br><em style="float:right">you might be interested in.</em></div>
    <br><br>
    <ion-footer-bar class="bar-assertive" style="background-color:#0000FF;margin-bottom:200px">
      <button  ui-sref="app.feature1" style="background-color:#0000FF;color:white;margin-left:auto;border:0px;border-radius:0px;height:100%;width:20%">
        <b>NEXT</b>
      </button>
    </ion-footer-bar>
  </ion-content>
</ion-view>
