<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Heatmap/Emergency Tab -->
  <ion-tab title="Locate" icon-off="ion-android-locate" icon-on="ion-android-locate" href="#/tab/locate">
    <ion-nav-view name="tab-locate"></ion-nav-view>
  </ion-tab>

  <!-- Law Tab -->
  <ion-tab title="Tips/Tutorials" icon-off="ion-android-hand" icon-on="ion-android-hand" href="#/tab/tips">
    <ion-nav-view name="tab-tips"></ion-nav-view>
  </ion-tab>


  <!-- Feed Tab -->
  <ion-tab title="Feed" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Tips/Tutorials Tab -->
  <ion-tab title="Law" icon-off="ion-android-bulb" icon-on="ion-android-bulb" href="#/tab/law">
    <ion-nav-view name="tab-law"></ion-nav-view>
  </ion-tab>

  <!-- Options Tab -->
  <ion-tab title="Menu" icon-off="ion-android-more-vertical" icon-on="ion-android-more-vertical" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

</ion-tabs>
